<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>Email: </p><%= f.input :email, required: true, autofocus: true, label: false %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <p>First name:</p><%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first-name" },
                label: false %>
    <p>Last name:</p><%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last-name" },
                label: false %>
    <p>User name:</p><%= f.input :username,
                required: true,
                input_html: { autocomplete: "username" },
                label: false %>
    <p>Avatar:</p><%= f.input :avatar,
                required: true,
                as: :file,
                input_html: { autocomplete: "avatar" },
                label: false %>

    <p>Password:</p><%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" },
                label: false %>
    <p>Confirm Password:</p><%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label: false %>
    <p>Current Password:</p><%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" },
                label: false %>

    <div class="form-actions col-12 btn btn-warning">
      <%= f.button :submit, "Update" %>
    </div>
  </div>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
