<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>First name:</p><%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first-name" },
                label: false %>
    <p>Last name:</p><%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last-name" },
                label: false %>
    <p>User name:</p><%= f.input :username,
                required: true,
                input_html: { autocomplete: "username" },
                label: false %>
    <p>Email:</p><%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label: false %>
    <p>Password:</p><%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                label: false %>
    <p>Confirm password:</p><%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                label: false %>
    <p>Choose an avatar:</p><%= f.input :avatar,
                as: :file,
                required: false,
                input_html: { autocomplete: "avatar" },
                label: false %>
    <p>Tell us more about yourself:</p><%= f.input :description,
                as: :text,
                required: false,
                input_html: { autocomplete: "description" },
                label: false %>


    <div class="form-actions col-12 btn btn-warning">
      <%= f.button :submit, "Sign up" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>


