    <%= render 'shared/navbar' %>


<div class="row">
  <div class="col">
    <div class="chat scroll" id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message], remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :content, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-dark chat-input' %>
        </div>
      </div>

      <%= form.input :chatroom_id, as: :hidden %>
    <% end %>
  </div>
</div>







