<%= content_for(:navbar_class, "navbar-home") %>
<!-- city banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo.key, crop: :fit %>');">
</div>
<!-- city banner -->

<div class="show-border">
  <h4>City Description:</h4><p><%= @city.description %></p>
</div>

<div class="display">

  <!-- map -->
  <div id="map"
      style="width: 50%; height: 700px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!-- map -->

  <div class="info-border">
    <li>About: <%= @city.description %></li>
    <li>Country: <%= @city.country %></li>
    <li>Living Cost: <%= @city.living_cost %></li>
    <li>Currency: <%= @city.currency %></li>
  </div>

</div>


<!-- review -->
<div class="rating-form mt-15 p-2">
  <span>What do you think about <%= @city.title %>  ?</span>
  <%= simple_form_for [@city, @review] do |f| %>
  <div class="form-inputs">
    <%= f.input :content,
                as: :text,
                label: false %>
    <fieldset class="rating">
    <%=f.radio_button :stars, 5, :id => "star5" %><label for="star5" title="Excellent!"></label>
    <%=f.radio_button :stars, 4, :id => "star4" %> <label for="star4" title="Good!"></label>
    <%=f.radio_button :stars, 3, :id => "star3" %> <label for="star3" title="Average!"></label>
    <%=f.radio_button :stars, 2, :id => "star2" %> <label for="star2" title="Poor!"></label>
    <%=f.radio_button :stars, 1, :id => "star1" %> <label for="star1" title="Very Poor!"></label>
    </fieldset>
    <%= f.submit %>
<% end %>
<!-- review end -->

<div class="card">
  <div class="container">
    <h4><b>Country</b></h4>
    <p><%= @city.country %></p>
  </div>
</div>

<div class="cardd">
  <div class="containerr">
    <h4><b>Living cost</b></h4>
    <p><%= @city.living_cost %></p>
  </div>
</div>
