<div class="wrapper" id="sticky">
  <div class="card" id="sticky-card">
    <!-- city banner -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo.key, crop: :fit %>');">
        <div class="centered row">
          <h1><%= @city.title %></h1>
        </div>
    </div>
    <!-- city banner -->
  </div>


  <div class="card" id="sticky-card">
    <div class="description">
      <h2>About</h2>
      <p><%= @city.description.html_safe %></p>
    </div>
  </div>

  <div class="card" id="sticky-card">
    <% @users.each do |user| %>
      <% if user.occupation.title == current_user.occupation.title && user != current_user && user.user_cities.last.title == current_user.user_cities.last.title%>
        <%= link_to user do %>
          <p><%= user.first_name %> <%= user.last_name %></p>
           <p><%= user.occupation.title %> in <%= @city.title %></p>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, crop: :fit, class: "avatar dropdown-toggle" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% @users.each do |user| %>
      <% if !(user.user_interests & current_user.user_interests).empty? && user != current_user && user.user_cities.last.title == current_user.user_cities.last.title%>
        <%= link_to user do %>
          <p><%= user.first_name %> <%= user.last_name %></p>
          <p><%= user.user_interests.first %><%= @city.title %></p>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, crop: :fit, class: "avatar dropdown-toggle" %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <% @users.each do |user| %>
      <% if user != current_user && user.current_city == current_user.current_city%>
        <%= link_to user do %>
          <p><%= user.first_name %> <%= user.last_name %></p>
          <p><%= user.occupation %><%= @city.title %></p>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, crop: :fit, class: "avatar dropdown-toggle" %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <div class="card" id="sticky-card">
    <h2><span>Project #1</span>Title of the Project</h2>
    <div class="wrappers">
      <span class="cloud-1"></span>
      <span class="cloud-2"></span>
      <span class="cloud-3"></span>
      <span class="cloud-4"></span>
      <span class="cloud-5"></span>
      <span class="cloud-6"></span>
      <span class="cloud-7"></span>
      <span class="cloud-8"></span>
      <span class="cloud-9"></span>
      <span class="cloud-10"></span>
      <span class="cloud-11"></span>
      <span class="cloud-12"></span>
      <span class="car"></span>
      <span class="sun"></span>
      <span class="car car-2"></span>
      <span class="car car-3"></span>
      <span class="car car-4"></span>
    </div>
  </div>

  <div class="card" id="sticky-card">
    <h2><span>Project #1</span>Title of the Project</h2>
    <!-- map -->
    <div id="map"
        style="width: 50%; height: 700px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <!-- map -->
  </div>



  <div class="card" id="sticky-card">
    <h2><span>Project #1</span>Title of the Project</h2>
    <!-- review -->
    <div class="rating-form mt-15 p-2">
      <span>What do you think about <%= @city.title %>  ?</span>
      <%= simple_form_for [@city, @review] do |f| %>
      <div class="form-inputs">
        <%= f.input :content,
                    as: :text,
                    label: false %>
        <fieldset class="rating">
          <%=f.radio_button :stars, 5, :id => "star5" %><label for="star5" title="Excellent!"></label>
          <%=f.radio_button :stars, 4, :id => "star4" %> <label for="star4" title="Good!"></label>
          <%=f.radio_button :stars, 3, :id => "star3" %> <label for="star3" title="Average!"></label>
          <%=f.radio_button :stars, 2, :id => "star2" %> <label for="star2" title="Poor!"></label>
          <%=f.radio_button :stars, 1, :id => "star1" %> <label for="star1" title="Very Poor!"></label>
        </fieldset>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <!-- review end -->


    <div class="reviews">
      <ul class="list-group">
        <% if @city.reviews.nil? %>
          <% 5.times do  %>
              <span class="far fa-star"></span>
          <% end %>
        <% else %>
          <% @city.reviews.reverse.each do |review| %>
            <div class="review mb-5 mt-3">
              <li class="list-group-item">
                <% review.stars.times do  %>
                  <span class="fas fa-star"></span>
                <% end %>
                <% (5 - review.stars).times do  %>
                  <span class="far fa-star"></span>
                <% end %>
                <p><%= review.content%></p>
              </li>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

<%# City survey viewer (with links to the survey page) / create new survey on the city %>

  <div class="card" id="sticky-card">
    <h2><span>Project #1</span>Title of the Project</h2>
    <ul class="list-group">
      <% @city.surveys.each do |survey| %>
        <div class="survey mb-5 mt-3">
          <li class="list-group-item">
            <%= link_to survey.question, survey_path(survey) %>
          </li>
        </div>
      <% end %>
    </ul>

    <div class="survey-form mt-15 p-2">
      <span>Create a new survey about <%= @city.title %></span>
      <%= simple_form_for [@city, @survey] do |f| %>
      <div class="form-inputs">
        <%= f.input :question,
                    as: :text,
                    label: false %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

  </div>  

<%# end of survey %>



  <div class="card" id="sticky-card">
    <h2><span>Project #1</span>Title of the Project</h2>
    <p>country <%= @city.country %></p>
    <p>currency <%= @city.currency %></p>
    <p>population <%= @city.population %></p>
    <p>score <%= @city.score %></p>

    <% @city.cost_of_livings.each do |t|%>
      <p><i class="fas fa-coffee"></i><%= t.title %>---<%= t.price %>$</p>
    <% end %>
  </div>


  <div class="card" id="sticky-card">
    <div>
        <h1 id = "city"> <%= @city.title %> </h1>
      </div>

    <div>
      <h2 id = "date">date</h2>
    </div>

    <div>
      <p id="condition">condition</p>
    </div>

    <div>
      <i class="fas fa-bolt"></i>
      <h2 id="celcius">celcius</h2>
    </div>
  </div>


  <div class="card" id="sticky-card">
    <% @cost_of_livings.each do |cost| %>
      <%= cost.title %>
      <%= cost.price %>
    <% end %>
  </div>

  <div class="card" id="sticky-card">
    <% @city_details.each do |detail| %>
      <%= detail.title %>
      <%= detail.value %>
    <% end %>
  </div>


  <div class="card" id="sticky-card">
    <div class='main-container'>
      <div class='grid-container'>
        <div class='card card--2x'>
          <div class='card__content big-script padding-large'>
            <p>Travel and see the world</p>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/443416/pexels-photo-443416.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/542411/pexels-photo-542411.png?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card'>
          <div class='card__content'>
            <p><em>Travel is fatal to prejudice, bigotry, and narrow-mindedness.</em></p>
            <p>— Mark Twain</p>
          </div>
        </div>
        <div class='card'>
          <div class='card__content'>
            <p><em>Travel is fatal to prejudice, bigotry, and narrow-mindedness.</em></p>
            <p>— Mark Twain</p>
          </div>
        </div>
        <div class='card'>
          <div class='card__content'>
            <p><em>Travel is fatal to prejudice, bigotry, and narrow-mindedness.</em></p>
            <p>— Mark Twain</p>
          </div>
        </div>

        <div class='card'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card" id="sticky-card">
    <div class='main-container'>
      <div class='grid-container'>
        <div class='card card--horizontal'>
          <div class='card__side-by-side'>
            <div class='card__image'>
              <img src='https://images.pexels.com/photos/885880/pexels-photo-885880.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
            </div>
            <div class='card__content'>
              <h3>Lorem ipsum</h3>
              <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
            </div>
          </div>
        </div>
        <div class='card card--vertical'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/450597/pexels-photo-450597.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/269923/pexels-photo-269923.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card'>
          <div class='card__content'>
            <p><em>We wander for distraction, but we travel for fulfilment.</em></p>
            <p>— Hilaire Belloc</p>
          </div>
        </div>
        <div class='card card--2x'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card'>
          <div class='card__content'>
            <p><em>A good traveller has no fixed plans and is not intent on arriving.</em></p>
            <p>— Lao Tzu</p>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/386007/pexels-photo-386007.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
        <div class='card card--horizontal'>
          <div class='card__image'>
            <img src='https://images.pexels.com/photos/358319/pexels-photo-358319.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card" id="sticky-card">

    <!-- Styles -->
    <style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }

    </style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.padding(40, 40, 40, 40);

    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.dataFields.category = "network";
    categoryAxis.renderer.minGridDistance = 1;
    categoryAxis.renderer.inversed = true;
    categoryAxis.renderer.grid.template.disabled = true;

    var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
    valueAxis.min = 0;

    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.categoryY = "network";
    series.dataFields.valueX = "MAU";
    series.tooltipText = "{valueX.value}"
    series.columns.template.strokeOpacity = 0;
    series.columns.template.column.cornerRadiusBottomRight = 5;
    series.columns.template.column.cornerRadiusTopRight = 5;

    var labelBullet = series.bullets.push(new am4charts.LabelBullet())
    labelBullet.label.horizontalCenter = "left";
    labelBullet.label.dx = 10;
    labelBullet.label.text = "{values.valueX.workingValue.formatNumber('#.0as')}";
    labelBullet.locationX = 1;

    // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
    series.columns.template.adapter.add("fill", function(fill, target){
      return chart.colors.getIndex(target.dataItem.index);
    });

    categoryAxis.sortBySeries = series;
    chart.data = [
        {
          "network": "Facebook",
          "MAU": 2255250000
        },
        {
          "network": "Google+",
          "MAU": 430000000
        },
        {
          "network": "Instagram",
          "MAU": 1000000000
        },
        {
          "network": "Pinterest",
          "MAU": 246500000
        },
        {
          "network": "Reddit",
          "MAU": 355000000
        },
        {
          "network": "TikTok",
          "MAU": 500000000
        },
        {
          "network": "Tumblr",
          "MAU": 624000000
        },
        {
          "network": "Twitter",
          "MAU": 329500000
        },
        {
          "network": "WeChat",
          "MAU": 1000000000
        },
        {
          "network": "Weibo",
          "MAU": 431000000
        },
        {
          "network": "Whatsapp",
          "MAU": 1433333333
        },
        {
          "network": "YouTube",
          "MAU": 1900000000
        }
      ]



    }); // end am4core.ready()
    </script>

    <!-- HTML -->
    <div id="chartdiv"></div>

  </div>
</div>







