<div class="wrapper" id="sticky">
  <div class="card" id="sticky-card">
    <!-- city banner -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo.key, crop: :fit %>');">
        <div class="centered row">
          <h1><%= @city.title %></h1>
        </div>
    </div>
    <!-- city banner -->
  </div>


  <div class="card" id="sticky-card">
    <div class="row">
      <div id="map"
          style="width: 50%; height: 700px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="col-6 ">
        <div class="row mt-5 ml-1">
          <div class="card " id="weather">
            <div>
                <h3 id = "city"> <%= @city.title %> </h3>
                <hr/>
            </div>
            <div>
              <h3 id = "date">date</h3>
            </div>
            <div>
              <p id="condition">condition</p>
            </div>
            <div>
              <p id="celcius">celcius <i class="fas fa-bolt"></i></p>
            </div>
          </div>

          <div class="card col-3 text-center" id="city-main">
            <h4>Country </h4>
            <hr/>
            <p><%= @city.country %></p>
          </div>
          <div class="card col-3 text-center" id="city-main">
            <h4>Currency </h4>
            <hr/>
            <p><%= @city.currency %></p>
          </div>
        </div>
        <div class="row p-3" id='city-description'>
          <p><%= @city.description.split('   ')[0...-1].join.html_safe %></p>
        </div>
      </div>
    </div>
  </div>

<!-- friends -->
    <div class="card" id="sticky-card">

      <div class="scroller">
          <% @users.each do |user| %>
            <% if user.occupation.title == current_user.occupation.title && user != current_user && user.user_cities.last.title == current_user.user_cities.last.title && user.current_city == @city.title%>
              <div class="container mt-5 mr-5 d-flex justify-content-center">
                <div class="card-profile p-3 col-4">
                  <div class="d-flex align-items-center">
                    <% if user.avatar.attached? %>
                      <div class="image"> <%= cl_image_tag user.avatar.key, class: "round", width: "155", height: "155" %> </div>
                    <% end %>
                    <div class="ml-3 w-100">
                      <h4 class="mb-0 mt-0"><%= user.first_name %> <%= user.last_name %></h4>
                      <span><%= user.occupation.title %> living in <%= user.current_city %></span>
                      <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="ratings d-inline-block">Rating</span> <span class="number3">4.9</span> </div>
                      </div>
                      <div class="button mt-2 d-flex flex-row align-items-center">
                        <%= simple_form_for @chatroom do |f| %>
                          <%= f.input :title, :as => :hidden, :input_html => { :value => "#{current_user.username}" } %>
                          <%= f.button :submit, "Message", class: "btn btn-warning w-100 " %>
                        <% end %>
                        <%= link_to user do %>
                          <button class="btn btn-warning w-100 ml-2 mt-2">Profile</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>








        <% @users.each do |user| %>
          <% if user != current_user && user.current_city == current_user.user_cities.last.title && user.current_city == @city.title%>
            <div class="container mt-5 mr-5 d-flex justify-content-center" >
              <div class="card-profile p-3 col-4">
                <div class="d-flex align-items-center">
                  <% if user.avatar.attached? %>
                    <div class="image"> <%= cl_image_tag user.avatar.key, class: "round", width: "155", height: "155" %> </div>
                  <% end %>
                  <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0"><%= user.first_name %> <%= user.last_name %></h4>
                    <span><%= user.occupation.title %> living in <%= user.current_city %></span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                      <div class="d-flex flex-column"> <span class="ratings d-inline-block">Rating</span> <span class="number3">4.9</span> </div>
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                      <%= simple_form_for @chatroom do |f| %>
                        <%= f.input :title, :as => :hidden, :input_html => { :value => "#{current_user.username}" } %>
                        <%= f.button :submit, "Message", class: "btn btn-warning w-100 " %>
                      <% end %>
                      <%= link_to user do %>
                        <button class="btn btn-warning w-100 ml-2 mt-2">Profile</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>




        <% @users.each do |user| %>
          <% if user.occupation.title == current_user.occupation.title && user != current_user && user.user_cities.last.title == current_user.user_cities.last.title  && user.current_city == @city.title%>
            <div class="container mt-5 d-flex justify-content-center">
              <div class="card-profile p-3 col-4">
                <div class="d-flex align-items-center">
                  <% if user.avatar.attached? %>
                    <div class="image"> <%= cl_image_tag user.avatar.key, class: "round", width: "155", height: "155" %> </div>
                  <% end %>
                  <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0"><%= user.first_name %> <%= user.last_name %></h4>
                    <span><p><%= user.user_interests.first %><%= @city.title %></p></span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                      <div class="d-flex flex-column"> <span class="ratings d-inline-block">Rating</span> <span class="number3">4.9</span> </div>
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                      <%= simple_form_for @chatroom do |f| %>
                        <%= f.input :title, :as => :hidden, :input_html => { :value => "#{current_user.username}" } %>
                        <%= f.button :submit, "Message", class: "btn btn-warning w-100 " %>
                      <% end %>
                      <%= link_to user do %>
                        <button class="btn btn-warning w-100 ml-2 mt-2">Profile</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
<!-- friends end -->
  <div class="card" id="sticky-card">
    <div class="row">
      <div class="col-4 card ">
        <h2 class="align-self-center">Cost Of Living</h2>
        <hr/>
        <% @city.cost_of_livings.first(10).each do |t|%>
         <div class="d-flex justify-content-between">
          <p><%= t.title %></p> <p><%= t.price %>$</p>
         </div>
        <% end %>
      </div>
      <div class="col-4 card">
        <h2 class="align-self-center">Housing</h2>
        <hr/>
        <% @city.cost_of_livings.last(3).each do |t|%>
          <div class="d-flex justify-content-between">
            <p><%= t.title %></p> <p><%= t.price %>$</p>
          </div>
        <% end %>
      </div>
      <div class="col-4 card">
          <h2 class="align-self-center">Other</h2>
          <hr/>
        <% @city_details.each do |detail| %>
          <div class="d-flex justify-content-between">
            <p><%= detail.title.split('[').first %></p> <p><%= detail.value %></p>
          </div>
        <% end %>
      </div>

    </div>
  </div>


<!-- animation -->
  <div class="card" id="sticky-card">

    <div class="wrappers">
        <span class="cloud-1"></span>
        <span class="cloud-2"></span>
        <span class="cloud-3"></span>
        <span class="cloud-4"></span>
        <span class="cloud-5"></span>
        <span class="cloud-6"></span>
        <span class="cloud-7"></span>
        <span class="cloud-8"></span>
        <span class="cloud-9"></span>
        <span class="cloud-10"></span>
        <span class="cloud-11"></span>
        <span class="cloud-12"></span>
        <span class="car"></span>
        <span class="sun"></span>
        <span class="car car-2"></span>
        <span class="car car-3"></span>
        <span class="car car-4"></span>
      </div>
    <!-- review -->
    <div class="row">

      <div class="rating-form col-6 mt-15 p-2">
        <h4>What do you think about <%= @city.title %>  ?</h4>
        <%= simple_form_for [@city, @review] do |f| %>
        <div class="form-inputs">
          <%= f.input :content,
                      as: :text,
                      label: false %>
          <fieldset class="rating">
            <%=f.radio_button :stars, 5, :id => "star5" %><label for="star5" title="Excellent!"></label>
            <%=f.radio_button :stars, 4, :id => "star4" %> <label for="star4" title="Good!"></label>
            <%=f.radio_button :stars, 3, :id => "star3" %> <label for="star3" title="Average!"></label>
            <%=f.radio_button :stars, 2, :id => "star2" %> <label for="star2" title="Poor!"></label>
            <%=f.radio_button :stars, 1, :id => "star1" %> <label for="star1" title="Very Poor!"></label>
          </fieldset>
            <%= f.submit 'Add a review', class: 'btn btn-warning', id: "user-btn" %>
          <% end %>
        </div>
      </div>
      <!-- review end -->


      <div class="reviews col-6">
        <ul class="list-group">
          <% if @city.reviews.nil? %>
            <% 5.times do  %>
                <span class="far fa-star"></span>
            <% end %>
          <% else %>
            <% @city.reviews.reverse.each do |review| %>
              <div class="review mb-5 mt-3">
                <li class="list-group-item">
                  <% review.stars.times do  %>
                    <span class="fas fa-star"></span>
                  <% end %>
                  <% (5 - review.stars).times do  %>
                    <span class="far fa-star"></span>
                  <% end %>
                  <p><%= review.content%></p>
                </li>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
<!-- animation end -->





<!-- City survey viewer (with links to the survey page) / create new survey on the city %> -->

  <div class="card" id="sticky-card">

    <ul class="list-group">
      <% @city.surveys.each do |survey| %>
        <div class="survey mb-5 mt-3">
          <li class="list-group-item">
            <%= link_to survey.question, survey_path(survey) %>
          </li>
        </div>
      <% end %>
    </ul>

    <div class="survey-form mt-15 p-2">
      <span>Create a new survey about <%= @city.title %></span>
      <%= simple_form_for [@city, @survey] do |f| %>
      <div class="form-inputs">
        <%= f.input :question,
                    as: :text,
                    label: false %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

  </div>

<%# end of survey %>



  <div class="card" id="sticky-card">
    <div class='main-container'>
      <div class='grid-container'>
        <div class='card card--2x'>
          <div class='card__image big-script '>
            <%= image_tag("https://source.unsplash.com/collection/#{@city.title}/1600x900") %>

          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <%= image_tag("https://loremflickr.com/g/320/240/#{@city.title}") %>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <%= image_tag("https://picsum.photos/200/300?random=1") %>

          </div>
        </div>

        <div class='card'>
          <div class='card__image'>
            <%= image_tag("https://picsum.photos/200/300?random=2") %>
          </div>
        </div>
        <div class='card'>
          <div class='card__image'>
            <%= image_tag("https://picsum.photos/200/300?random=3") %>
          </div>
        </div>

        <div class='card'>
          <div class='card__image'>
            <%= image_tag("https://picsum.photos/200/300?random=4") %>

          </div>
        </div>


        <div class='card'>
          <div class='card__image'>
            <%= image_tag("https://picsum.photos/200/300?random=5") %>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>







