<%= content_for(:navbar_class, "navbar-home") %>
<!-- city banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo.key, crop: :fit %>');">
  <p><%= @city.title %></p>
</div>
<!-- city banner -->

<%= link_to 'Back', cities_path, class: "btn btn-dark" %>

<div class="show-border">
  <h4>City Description:</h4><p><%= @city.description %></p>
</div>

<!-- friends -->

<h2>Recommended for you: </h2>
<% @users.each do |user| %>
  <%= link_to user do %>
    <div class="info-border">
      <p> <%= user.username %> </p>
      <%= cl_image_tag user.avatar.key, crop: :fit, class: "avatar dropdown-toggle" %>
    </div>
  <% end %>
<% end %>
<!-- friends end -->


<div class="display">
  <!-- map -->
  <div id="map"
      style="width: 50%; height: 700px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!-- map -->

  <div class="info-border">
    <div class="card">
      <div class="containerr">
        <h4><b> Country </b></h4>
        <p><%= @city.country %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>City currency</b></h4>
        <p><%= @city.currency %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Living cost</b></h4>
        <p><%= @city.living_cost %><%= @city.currency %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Income</b></h4>
        <p><%= @city.income %>€</p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Population</b></h4>
        <p><%= @city.population %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Weather</b></h4>
        <p><%= @city.weather %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Traffic</b></h4>
        <p><%= @city.traffic %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Quality of Life</b></h4>
        <p><%= @city.quality_of_life %></p>
      </div>
    </div>
    <div class="card">
      <div class="containerr">
        <h4><b>Score</b></h4>
        <p><%= @city.score %></p>
      </div>
    </div>
  </div>

</div>


<!-- review -->
<div class="rating-form mt-15 p-2">
  <span>What do you think about <%= @city.title %>  ?</span>
  <%= simple_form_for [@city, @review] do |f| %>
  <div class="form-inputs">
    <%= f.input :content,
                as: :text,
                label: false %>
    <fieldset class="rating">
      <%=f.radio_button :stars, 5, :id => "star5" %><label for="star5" title="Excellent!"></label>
      <%=f.radio_button :stars, 4, :id => "star4" %> <label for="star4" title="Good!"></label>
      <%=f.radio_button :stars, 3, :id => "star3" %> <label for="star3" title="Average!"></label>
      <%=f.radio_button :stars, 2, :id => "star2" %> <label for="star2" title="Poor!"></label>
      <%=f.radio_button :stars, 1, :id => "star1" %> <label for="star1" title="Very Poor!"></label>
    </fieldset>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<!-- review end -->





