<ul>
  <%= cl_image_tag @city.photo.key, crop: :fit %>
  <li>About: <%= @city.description %></li>
  <li>Country: <%= @city.country %></li>
  <li>Living Cost: <%= @city.living_cost %></li>
  <li>Currency: <%= @city.currency %></li>
</ul>


<!-- map -->
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<!-- map -->


<!-- review -->
<div class="rating-form mt-15 p-2">
  <span>What do you think about <%= @city.title %>  ?</span>
  <%= simple_form_for [@city, @review] do |f| %>
  <div class="form-inputs">
    <%= f.input :content,
                as: :text,
                label: false %>
    <fieldset class="rating">
    <%=f.radio_button :stars, 5, :id => "star5" %><label for="star5" title="Excellent!"></label>
    <%=f.radio_button :stars, 4, :id => "star4" %> <label for="star4" title="Good!"></label>
    <%=f.radio_button :stars, 3, :id => "star3" %> <label for="star3" title="Average!"></label>
    <%=f.radio_button :stars, 2, :id => "star2" %> <label for="star2" title="Poor!"></label>
    <%=f.radio_button :stars, 1, :id => "star1" %> <label for="star1" title="Very Poor!"></label>
    </fieldset>
    <%= f.submit %>
<% end %>
<!-- review end -->
