<%= content_for(:navbar_class, "navbar-home") %>



<%= simple_form_for @user_city do |f| %>
    <p>Relocate To ...*</p><%= f.input :title ,
                :collection => %w[Amsterdam Istanbul Berlin Paris Stockholm Madrid Frankfurt],
                label: false %>

        <%= simple_fields_for @user_interest, class: "ks-cboxtags", id: "user-btn" do |f| %>
          <p>Interest</p><%= f.association :interest,
                            as: :check_boxes,
                            input_html: { multiple: true },
                            label: false %>

        <%= simple_fields_for @user_occupation do |f| %>
          <p>Occupation</p><%= f.association :occupation,
                            input_html: { multiple: false },
                            label: false %>
        <% end %>

    <% end %>
    <%= f.submit 'Add', name: 'create_and_add', class: "btn sign"%>
  <% end %>








