<%= content_for(:navbar_class, "navbar-home") %>



<%= simple_form_for @user_city do |f| %>
    <p>Relocate To ...*</p><%= f.input :title ,
                :collection => %w[Amsterdam Istanbul Berlin Paris Stockholm Madrid Frankfurt],
                label: false %>

        <div class="profile-container">
          <div class="ks-cboxtags">
            <% if @user == current_user %>
              <%= simple_form_for @user_interest, url: user_interests_path do |f| %>
                <%= f.association :interest, label: "User Interest:", as: :check_boxes, required: false, input_html: { multiple: true } %>
                <%= f.submit 'Add', class: 'btn btn-warning', id: "user-btn"%>
              <% end %>
            <% end %>
          </div>
          <%= simple_fields_for @user_occupation do |f| %>
            <p>Occupation *</p><%= f.association :occupation,
                              input_html: { multiple: false },
                              label: false %>
            <%= f.submit 'Add', name: 'create_and_add', class: "btn sign"%>
          <% end %>
        </div>

<% end %>
