<%= content_for(:navbar_class, "navbar-home") %>

<div class="signupcity">

  <%= simple_form_for [@user_city] do |f| %>
    <p>Relocate To ...*</p><%= f.input :title ,
                :collection => %w[Amsterdam Istanbul Berlin Paris Stockholm Madrid Frankfurt],
                label: false %>
    <%= f.simple_fields_for [@user_interest] do |c| %>
      <p>Interest</p><%= c.association :interest,
                        input_html: { multiple: true },
                        label: false %>
    <% end %>
    <div class="signbtn">

    <%= f.submit 'Add', name: 'create_and_add', class: "btn sign"%>
    </div>
  <% end %>
</div>


