<%= content_for(:navbar_class, "navbar-home") %>
<div style="height: 80vh">
<%= simple_form_for @user_city, remote: true, html: { class: "wizard js-wizard"} do |f| %>

  <div class="wizard-steps-container js-wizard-steps is--step-0">
    <img src="<%= asset_path "germanyHigh.svg" %>" alt="background" class="wizard-background-img"/>
    <div class="wizard-steps-step wizard-steps-step-0 js-intro-step">
      <div class="d-flex align-items-center justify-content-between">
        <div class="onboard-left">
          <p class="onboard-title">Tell us where you would like to go</p>
          <p class="onboard-subtitle">Find your city, meet people who are similar to you</p>


          <div class="onboard-btn">
            <button class="js-wizard-next btn-main-yellow large" type="button">Find people to help you out.</button>
          </div>



        </div>
      </div>
    </div>



   <div class="wizard-steps-step wizard-steps-step-1">
      <div>
        <p class="wizard-title">1 / 3</p>
        <p class="wizard-title">Where would you like to go?</p>
      </div>
      <div class="sentence-checkboxes">
      <%= f.input :title, :input_html => { :class => 'sentence-checkboxes-input' },
                  :collection => %w[Amsterdam Istanbul Berlin Paris Stockholm Madrid Frankfurt],
                  label: false, :input_html => {:class => 'sentence-checkboxes-label' }%>
      </div>
      <div class="wizard-actions">
        <button class="js-wizard-previous btn-main-yellow small text-size" type="button">Previous</button>
        <button class="js-wizard-next btn-main-yellow small text-size" type="button">Next</button>
      </div>
    </div>
  </div>


  <div class="wizard-steps-step wizard-steps-step-2">
    <p class="wizard-title">2 / 3</p>
    <p class="wizard-title">What do you like doing?</p>
    <div class="month-checkboxes">
        <%= simple_fields_for @user_interest, remote: true, html: {class: "month-checkboxes-input"} do |f| %>
          <p>Interest</p><%= f.association :interest,
                            as: :check_boxes,
                            input_html: { multiple: true },
                            label: false, :input_html => {:class => 'month-checkboxes-label'} %>
    </div>

    <div class="wizard-actions">
      <button class="js-wizard-previous btn-main-yellow small text-size" type="button">Previous</button>
      <button class="js-wizard-next btn-main-yellow small text-size" type="button">Next</button>
    </div>
  </div>


      <div class="wizard-steps-step wizard-steps-step-3">
        <p class="wizard-title">3 / 3</p>
        <p class="wizard-title">What do you do for a living?</p>
        <div class="temp-checkboxes">
          <div class="temp-checkboxes-thermometer">
            <div class="temp-checkboxes-options">
              <%= simple_fields_for @user_occupation, remote: true, html: {class: 'temp-checkboxes-input'} do |f| %>
                <p>Occupation</p><%= f.association :occupation,
                                  input_html: { multiple: false },
                                  label: false, :input_html => {:class => 'temp-checkboxes-label temp-checkboxes-label-top'} %>
              <% end %>
              <div class="temp-checkboxes-thermometer-inner"></div>
            </div>
          </div>
        </div>
        <div class="wizard-actions wizard-actions-thermometer">
          <button class="js-wizard-previous btn-main-yellow small" type="button">Previous</button>
          <button class="js-wizard-next btn-main-yellow small" type="button">Next</button>
        </div>
        <% end %>
        <div class="wizard-actions wizard-actions-world">
          <button class="js-wizard-previous btn-main-yellow small" type="button">Previous</button>
        <%= f.submit 'Add', name: 'create_and_add', class: "btn-main-yellow small"%>
        </div>
      </div>
  <% end %>
</div>




